Side Panel
    */
    #sideButtons{
        text-shadow:none;
        padding: 0;
        float: left;
        margin: 0;
        list-style: none;
    }
    #sideButtons li{
      float: left;
  }
  #sideButtons li a{
    border-right: 1px solid #34495e;
    border-bottom: 1px solid #34495e;
    background: #2c3e50;
    text-decoration: none;
    display: block;
    padding: 12p
    x 12px 12px 13px;
    font-size: 20px;
    color: #bdc3c7;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}